@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #12372A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5 {
  color: #FBFADA;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 32px;
}

p {
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  color: #FBFADA;
}

.app .content {
  padding: 60px 50px 50px;
  width: 95%;
  margin: auto;
}

.Hold {
  color: #ef4444;
}
.Post {
  color: #22c55e;
}

.event-modal {
  display: table;
    height: auto;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
}
.event-modal .modal-content {
  background: #fbfada;
  padding: 20px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .6)
}
.event-modal .modal-content h2 {
  text-align: center;
}
.event-modal .modal-content span {
  font-weight: bold;
}
.event-modal p {
  font-size: 20px;
}
.event-modal .description p {
  font-size: 26px;
}

.link-button:hover {
  color: #46b2b1;
}