.card {
    position: relative;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
}
.card:hover {
    top: -10px;
}
.card img {
    transition: all 0.3s ease-in-out 0s;
}
.card img:hover {
    transform: scale(0.95);
}

/* .charts canvas {
    width: 100% !important;
    height: auto !important;
} */