input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.card-holder {
    background-color: #fafafa;
}
.card-holder h3 {
    color: #000;
    text-align: center;
}

/* table */
tbody tr:hover {
  background-color: #d6e3ca;
}

/* chartjs css */
/* .charts canvas {
   width: 100% !important;
   height: auto !important;
} */