input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.card-holder {
    background-color: #fafafa;
}
.card-holder h3 {
    color: #000;
    text-align: center;
}

/* table */
tbody tr:hover {
  background-color: #d6e3ca;
}

.btn:hover,
.btn.active {
  background: #fffa5e;
}

.hidden {
  display: none;
}

.box-holder {
  height: 86%;
}
.box-holder canvas {
  height: 100% !important;
}