input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.card-holder {
    background-color: #fafafa;
}
.card-holder h3 {
    color: #000;
    text-align: center;
}